@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Customers</h2>
    @if (!Model.Any())
    {
        <p>We don't have any customers yet.</p>
    }
    <div class="form-group">
        <a class="btn btn-primary" href="@Url.Action("New", "Customers")">
            New Customer
        </a>
    </div>
    
    <table class="table	table-bordered	table-hover">
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id}, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>