
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Customers</h2>
    <table class="table	table-bordered	table-hover">
        <tr>
            <th>Customer</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>